body {
    background-color: #F9F7F4;
}

.banner {
    background-color: #F4F1EA;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.table-head {
    background-color: #F4F1EA;
}

.table-head a {
    cursor: pointer;
    text-decoration: underline;
}

.wrap-buttons {
    display: flex;
    flex-direction: column;
}

.edit-card {
    margin-bottom: 5px;
}

.edit-card, .delete, .add-button {
    color: #fff;
    background-color: #372212;
    border-color: #372212;
    border-radius: 5%;
    border-style: none;
}

@media only screen and (min-width: 321px) {
    .main {
        padding: 0 1rem 0 1rem;
    }
}

@media only screen and (min-width: 700px) {
    .main {
        padding: 0 5rem 0 5rem;
    }

    .wrap-buttons {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        padding: 0 15rem 0 15rem;
    }
}